# fly.toml app configuration file generated for cb-image-api on 2026-01-20
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "cb-image-api"
primary_region = "sin" # Singapore - gần Việt Nam

[build]

[env]
  RAILS_ENV = "production"
  RAILS_LOG_TO_STDOUT = "true"
  RAILS_SERVE_STATIC_FILES = "true"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

  [http_service.concurrency]
    type = "requests"
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
